# Ambientes virtuais
.venv/
venv/
env/
bin/
lib/
include/

# Cache do Python
__pycache__/
*.pyc

# Configurações de IDE
.vscode/
.idea/

# Variáveis de ambiente
.env
node_modules/
web/node_modules/
**/node_modules/
**/__pycache__/
.next/

